.container
  .row
    .col-sm-3
      = render 'admin/shared/menu'
    .col-sm-9
      h1 Rezervace

      table.table.table-condensed
        thead
          tr
            th Host
            th Od
            th Do
            th
        tbody
          - @bookings.each do |booking|
            tr
              td: b
                - if booking.user
                  = booking.user.phone
              td
                - if booking.room_booking.first
                  = l booking.room_booking.first.book_from.utc, format: :long
              td
                - if booking.room_booking.first
                  = l booking.room_booking.first.book_to.utc, format: :short
              td
                .btn-group.pull-right
                  = link_to 'detail', admin_booking_path(booking.id), class: 'btn btn-primary btn-sm'
