.container
  .row
    .col-sm-3
      = render 'admin/shared/menu'
    .col-sm-9
      h1 Rezervace
      
      dl
        - if @booking
          dt ID rezervace
          dd = @booking.id
                
          - if @booking.user
            dt telefon
            dd = @booking.user.phone
          
            dt e-mail
            dd title=(@booking.user.email)
             - if @booking.user.email.include? "@hotel.henry"
              | nezadán
             - else
              = @booking.user.email

          dt poznámka
          dd = @booking.message


      h2 Obsah rezervace
      table.table.table-condensed
        thead
          tr
            th Pokoj
            th Od
            th Do
            th
        tbody
          - @booking.room_booking.each do |book|
            tr
              td
                - if book.room
                  b = book.room.name
              td = l book.book_from.utc, format: :long
              td = l book.book_to.utc, format: :long
              td
                .btn-group.pull-right
                  / = link_to 'odstranit z rezervace', remove_admin_room_booking_path(book.id), class: 'btn btn-warning btn-sm'

      .well
        = link_to 'zrušit rezervaci', admin_booking_path(@booking.id), data: {:confirm => 'Are you sure?'}, :method => :delete, class: 'btn btn-danger'
