= simple_form_for [:admin, @page], html: {multipart: true} do |f|
  = f.error_notification

  .row
    .col-sm-6
      .form-input
        = f.input :title
      = f.input :perex
    .col-sm-6
      = f.input :language, :as => :select, :collection => Page.languages.keys.to_a, disabled: true
      = f.input :web, :as => :select, :collection => Page.webs.keys.to_a, disabled: true

  .row
    .col-sm-12
      = f.cktext_area :content

  .row
    .col-sm-6
      = f.input :key, disabled: true
  
  hr
  .row
    .col-sm-12
      - @page.pictures.each do |photo|
        .photo-wrapper
          = image_tag photo.image.url(:thumb), class: 'img-thumbnail'
          = link_to [:admin, photo], :method => :delete,
                                     :confirm => 'Are you sure?',
                                     :class => 'remove'
            = fa_icon 'remove'

    hr
    .col-sm-12
      = file_field_tag "images[]", type: :file, multiple: true

  hr
  .form-actions
    = f.button :submit, class: 'btn btn-success'
