.container
  .row
    .col-sm-3
      = render 'admin/shared/menu'
    .col-sm-9
      h1 Obsahové stránky

      table.table.table-condensed
        thead
          tr
            th Název stránky
            th Jazyková mutace
            th Typ webu
            th Poslední úprava
            th
        tbody
          - @pages.each do |page|
            tr
              td: b = page.title
              td = page.language
              td = page.web
              td = page.updated_at
              td
                .btn-group.pull-right
                  = link_to 'upravit', edit_admin_page_path(page.id), class: 'btn btn-info btn-sm'
