.container
  .heading
    h1 Kontakty
    hr
    p Kde nás naleznete

  .row
    .col-sm-6
      h4
        => fa_icon 'map-marker', class: 'fa-2x'
        | &nbsp;&nbsp;&nbsp;
        | Adresa

      p U PAPÍRNY 11/506
      p PRAHA 7 – HOLEŠOVICE
      p
        .fa.fa-phone
        | +420 266 314 341
      p
        .fa.fa-mobile
        | +420 601 374 896
      p
        .fa.fa-envelope
        | info@privat-henry.cz
      br

      h4 Jak se k nám dostanete

      h5
        => fa_icon 'bus', class: 'fa-2x'
        | &nbsp;&nbsp;&nbsp;
        | MHD
      p Metro: "C", stanice Nádraží Holešovice, výstup Plynární ulice
      p Denní tramvaje: 12, 17 a 24 zastávka Nádraží Holešovice
      p Noční tramvaje: 53, 54 zastávka Nádraží Holešovice
      p Autobusy: 112, 156 a 201 zastávka Nádraží Holešovice
      p Od zastávky tramvaje nebo výstupu metra do Plynární ulice 150 metrů doleva směrem k Výstavišti.
      h5
        => fa_icon 'car', class: 'fa-2x'
        | &nbsp;&nbsp;&nbsp;
        | AUTEM
      p GPS - 50°5'54.868"N, 14°26'47.096"E - parkování je možné přímo před hotelem v zelené zóně
      p 8.00 – 18.00 sazba 30 Kč/hod, od 18.00 zdarma
      p Parkování je velice diskrétní s dostatečnou kapacitou, parkoviště je společné se sousedícími kancelářskými budovami.
    .col-sm-6
      iframe allowfullscreen="" frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2558.8584279334823!2d14.438067000000002!3d50.1076568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94caf80a3f83%3A0xfd9fef62c2c296ea!2sU+pap%C3%ADrny+506%2F11%2C+170+00+Praha-Praha+7!5e0!3m2!1scs!2scz!4v1437560289831" style="border:0" width="100%"
