#hp-intro.carousel.slide data-ride="carousel"
  .carousel-inner role="listbox"
    - if @homepage
      - @homepage.pictures.each_with_index do |photo,i|
        .item class=('active' if i == 0)
          = image_tag photo.image.url(:carousel)

  a.left.carousel-control data-slide="prev" href="#hp-intro" role="button" 
    span.glyphicon.glyphicon-chevron-left aria-hidden="true" 
    span.sr-only Previous

  a.right.carousel-control data-slide="next" href="#hp-intro" role="button" 
    span.glyphicon.glyphicon-chevron-right aria-hidden="true" 
    span.sr-only Next

.container
  .text-center
    .cta-holder
      = link_to t('booking'), '#', class: 'btn btn-primary btn-lg cta-booking', data: {toggle: 'modal', target: '#bookingStart'}

  .claim
    p = @homepage.perex if @homepage
  hr
  
  .cols-3
    = raw @homepage.content if @homepage
