- introPhotos = ["em4c9463", "em4c9471", "em4c9523", "em4c9526", "em4c9539"]

.container
  .heading
    h1 Restaurace
    hr
    p Lorem ipsum dolor sit

  p Příjemné společné chvíle je možné strávit v naší útulné restauraci. S výborným jídlem a sklenkou něčeho kvalitního můžete po boku svého partnera neformálně poznávat jeden druhého. Design restaurace, stejně jako celého hotelu je vybaven luxusním nábytkem a vybavením doladěném do posledního detailu pro Váš pocit pohodlí a vyjímečnosti.
  p Samozřejmostí je možnost doručení jakéhokoliv občerstvení a nápojů přímo do pokoje.

  ul#photoGallery
    - introPhotos.each do |p|
      li data-thumb=image_path("photos/#{p}.jpg")
        = image_tag("photos/#{p}.jpg")
