- introPhotos = ["em4c9265", "em4c9287", "em4c9295"]

.container
  .heading
    h1 Pokoj
    hr
    p Lorem ipsum dolor sit

  p Hotelové pokoje jsou špičkově vybavené a poskytují potřebné soukromí a pohodlí. Dominantou každého pokoje je pohodlná kvalitní postel, doplněná luxusním vybavením v uklidňujících tlumených tónech, vše dokresluje luxusní prosklená sprcha pro intenzivní pocit intimity s nádechem hříšných myšlenek.
  p Poskytujeme také apartmá pro větší soukromí navržené pro ty, kteří preferují nadstandardní služby a rádi si užijí své intimní chvíle s patřičným luxusem.

  ul#photoGallery
    - introPhotos.each do |p|
      li data-thumb=image_path("photos/#{p}.jpg")
        = image_tag("photos/#{p}.jpg")
