- introPhotos = ["em4c9311", "em4c9321", "em4c9346", "em4c9388"]

.container
  .heading
    h1 Spa
    hr
    p Lorem ipsum dolor sit

  p Pro chvíle relaxace můžete navštívit naše soukromé wellness. Prožijte příjemné chvíle v naší sauně a poté si pročistěte mysl v naší luxusní relaxační zóně. Vše v nádherném prostředí antických lázní. Překvapte svého partnera příjemným večerem a oprostěte se od každodenního stresu a shonu. Otevřete svou mysl lásce a smyslnosti, přižijte každý okamžik na duchovní i tělesné úrovni.

  ul#photoGallery
    - introPhotos.each do |p|
      li data-thumb=image_path("photos/#{p}.jpg")
        = image_tag("photos/#{p}.jpg")
