= simple_form_for [:admin, @room], html: {multipart: true} do |f|
  = f.error_notification
  
  .row
    .col-sm-6
      .form-input
        = f.input :name
      .form-input
        = f.select :room_type, options_for_select([:room, :service])

  hr
  .row
    .col-sm-6
      .form-input
        = f.input :price_night
      .form-input
        = f.input :price_first_hour
      .form-input
        = f.input :price_next_hour

  hr
  .form-actions
    = f.button :submit, class: 'btn btn-success'
