.container
  .row
    .col-sm-3
      = render 'admin/shared/menu'
    .col-sm-9
      h1 Pokoje
      = link_to 'nový pokoj', new_admin_room_path, class: 'btn btn-sm btn-primary pull-right'

      table.table.table-condensed
        thead
          tr
            th Id
            th Název
            th Typ
            th Noc
            th První hodina
            th Další hodina
            th
        tbody
          - @rooms.each do |room|
            tr
              td: b = room.id
              td = room.name
              td = room.room_type
              td = room.price_night
              td = room.price_first_hour
              td = room.price_next_hour
              td
                .btn-group.pull-right
                  = link_to 'upravit', edit_admin_room_path(room.id), class: 'btn btn-info btn-sm'
