#bookingStart.modal.fade aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      = form_tag room_booking_path
        .modal-header
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true" &times;
          h4#myModalLabel.modal-title Rezervace termínu
        .modal-body
          = render "bookings/#{Rails.application.secrets.booking_type}_type_form"
        .modal-footer
          button.btn.btn-default data-dismiss="modal" type="button" zrušit
          = submit_tag "Vybrat pokoj", class: 'btn btn-primary'
