= hidden_field_tag 'nightbooking', 0
.row
  .col-sm-5
    .form-group
      #datepicker.pull-right.phone-block
      = hidden_field_tag 'date_from', Date.today
  .col-sm-7
    div
      ul.nav.nav-tabs role="tablist"
        li.active role="presentation"
          a aria-controls="specfific" data-toggle="tab" href="#specfific" role="tab" Přesný čas
        li role="presentation"
          a aria-controls="night" data-toggle="tab" href="#night" role="tab"  Celá noc
      .tab-content
        #specfific.tab-pane.active role="tabpanel"
          .form-group
            = label_tag 'Čas'
            .well
              .row
                .col-sm-6
                  .input-group
                    = select_tag "hour_from",
                                 options_for_select((00..23).map {|n| "%02d" % n}, Time.now.advance(hours: 1).hour),
                                 id: "hour_from",
                                 class: 'form-control input-medium'
                    span.input-group-addon h
                .col-sm-6
                  .input-group
                    = select_tag "minute_from",
                                 options_for_select([["00",00],["30",30]]),
                                 id: "minute_from",
                                 class: 'form-control input-medium'
                    span.input-group-addon m

            = label_tag 'Počet hodin'
            .well
              .input-group
                = select_tag "hours",
                             options_for_select(1..4),
                             id: "hours",
                             class: 'form-control'
                span.input-group-addon h

        #night.tab-pane role="tabpanel"
          | Od 17.00 do 09.00 za zvýhodněnou cenu
    
    hr
  
    .form-group
      = label_tag 'Preferovaný způsob potvrzení rezervace'
      .well
        = select_tag "contact_prefer",
                     options_for_select([["SMS",1],["e-mail",2]]),
                     id: "contact_prefer",
                     class: 'form-control input-medium'

    .form-group
      = label_tag 'Telefon'
      .well
        .row
          .col-xs-5
            .input-group
              span.input-group-addon +
              = number_field_tag 'dial', '420', limit: 3, class: 'form-control'
          .col-xs-7
            = number_field_tag 'phone',
                               '',
                               limit: 9,
                               :required => true,
                               class: 'form-control'

    .form-group#mail-type
      = label_tag 'E-mail'
      .well
        = email_field_tag 'email',
                           '',
                           class: 'form-control'
