.row
  .col-xs-12
    #datepicker.input-daterange.input-group
      input.input-sm.form-control name="date_from" type="text" value="#{l Date.today, format: :default}" /
      span.input-group-addon to
      input.input-sm.form-control name="date_to" type="text" value="#{l Date.tomorrow, format: :default}" /

br
.row
  .col-sm-6
    .form-group
      = label_tag 'Telefon'
      .row
        .col-xs-4
          = number_field_tag 'dial', '00420', class: 'form-control'
        .col-xs-8
          = number_field_tag 'phone',
                             '',
                             limit: 9,
                             :required => true,
                             class: 'form-control'
  .col-sm-6
    .form-group
      = label_tag 'E-mail'
      = text_field_tag 'email', '@', class: 'form-control'
