h1 Listing bookings

table
  thead
    tr
      th User
      th Message
      th Interenal note
      th
      th
      th

  tbody
    - @bookings.each do |booking|
      tr
        td = booking.user_id
        td = booking.message
        td = booking.interenal_note
        td = link_to 'Show', booking
        td = link_to 'Edit', edit_booking_path(booking)
        td = link_to 'Destroy', booking, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Booking', new_booking_path
