.container
  .heading
    h1 Booking
    hr
    p Rezervace termínu

  .row
    .col-xs-12.col-sm-10.col-sm-push-1
      = form_tag room_booking_path
        = render "bookings/#{Rails.application.secrets.booking_type}_type_form"
        = submit_tag "Vybrat pokoj", class: 'btn btn-primary pull-right'
