.container
  .heading
    h1 Booking
    hr
    p Rezervace pokoje

  = form_tag bookings_path
    = hidden_field_tag 'phone', "#{params[:dial]}#{params[:phone]}"
    = hidden_field_tag 'email', params[:email]
    = hidden_field_tag 'date_from', params[:date_from]
    = hidden_field_tag 'hour_from', params[:hour_from]
    = hidden_field_tag 'minute_from', params[:minute_from]
    = hidden_field_tag 'hours', params[:hours]
    = hidden_field_tag 'date_to', params[:date_to]
    = hidden_field_tag 'nightbooking', params[:nightbooking]
    
    .row
      .col-sm-8.col-sm-push-2
        .row
          .col-sm-6.col-sm-push-3.text-center
            .form-group
              = label_tag 'room_id', 'Pokoj/Spa'
              = select_tag 'room_id',
                           options_from_collection_for_select(@rooms, "id", "name", disabled: @bookings),
                           class: 'form-control'
            .form-group
              = label_tag 'message', 'Poznámka k rezervaci'
              = text_area_tag 'message',
                              nil,
                              class: 'form-control',
                              placeholder: 'Vaše zpráva'
            .form-group
              .well
                | Celková cena
                | &nbsp;
                span#total-price 0
                | &nbsp;
                | Kč
            
            .form-group
              = submit_tag "rezervovat", class: 'btn btn-lg btn-primary'
