p#notice = notice

- if @booking.user
  p
    strong User:
    = @booking.user.email
p
  strong Message:
  = @booking.message
p
  strong Interenal note:
  = @booking.interenal_note

p
  strong Obsahuje
  - @booking.room_booking do |b|
    = b.inspect

= link_to 'Edit', edit_booking_path(@booking)
'|
= link_to 'Back', bookings_path
