doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1 Nová rezervace

    p
      strong telefon:
      span =< @booking.user.phone
    p
      strong e-mail:
      span
        - if @booking.user.email.include? "@hotel.henry"
         =< 'nezadán'
        - else
         =< @booking.user.email

    p
      strong poznámka:
      span =< @booking.message

    h2 Obsah rezervace
    
    - @booking.room_booking.each do |book|
      hr
      p
        strong Od:
        span = l book.book_from.advance(hours: -2), format: :default
      p
        strong Do:
        span = l book.book_to.advance(hours: -2), format: :default
      p
        strong Pokoj:
        span = book.room.name
