= simple_form_for(@page) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :perex
    = f.input :content
    = f.input :language_id
    = f.input :web_id
    = f.input :key

  .form-actions
    = f.button :submit
