h1 Listing pages

table
  thead
    tr
      th Title
      th Perex
      th Content
      th Language
      th Web
      th Key
      th
      th
      th

  tbody
    - @pages.each do |page|
      tr
        td = page.title
        td = page.perex
        td = page.content
        td = page.language_id
        td = page.web_id
        td = page.key
        td = link_to 'Show', page
        td = link_to 'Edit', edit_page_path(page)
        td = link_to 'Destroy', page, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Page', new_page_path
