.container
  .heading
    h1 = @page.title
    hr
    p = @page.perex


  .row
    .col-md-8.col-md-push-2
      = raw @page.content

  .row
    .col-md-8.col-md-push-2
      ul#photoGallery
        - @page.pictures.each do |photo|
          li data-thumb=image_path( photo.image.url(:thumb) )
            = image_tag photo.image.url(:large)
