body.admin
  ul.admin-menu
    margin-top: 24px
    border-right: 3px solid #eee
    padding-right: 24px

  .photo-wrapper
    position: relative
    display: inline-block
    .remove
      position: absolute
      right: .5em
      top: .5em
