.timeline
  .room
    position: relative
    border-bottom: 1px solid #ddd
    margin-bottom: 12px
    strong
      display: block
      width: 120px
    .line
      position: relative

      .book_item
        display: inline-block
        padding: 12px
        border-radius: 4px
        background-color: $primary-color
        color: #fff
        margin: 0 8px 8px 0
        text-align: center
        .from
        .to
          font-size: .8em
