= simple_form_for(@room_booking) do |f|
  = f.error_notification

  .form-inputs
    = f.input :room_id
    = f.input :booking_id
    = f.input :book_from
    = f.input :book_to

  .form-actions
    = f.button :submit
