h1 Listing room_bookings

table
  thead
    tr
      th Room
      th Booking
      th Book from
      th Book to
      th
      th
      th

  tbody
    - @room_bookings.each do |room_booking|
      tr
        td = room_booking.room_id
        td = room_booking.booking_id
        td = room_booking.book_from
        td = room_booking.book_to
        td = link_to 'Show', room_booking
        td = link_to 'Edit', edit_room_booking_path(room_booking)
        td = link_to 'Destroy', room_booking, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Room booking', new_room_booking_path
