p#notice = notice

p
  strong Room:
  = @room_booking.room.name
p
  strong User:
  = @room_booking.booking.user.name
p
  strong Booking:
  = @room_booking.booking_id
p
  strong Book from:
  = @room_booking.book_from
p
  strong Book to:
  = @room_booking.book_to

= link_to 'Edit', edit_room_booking_path(@room_booking)
'|
= link_to 'Back', room_bookings_path
