.well
  padding: 12px
  .slider
    margin-left: 12px
    margin-right: 12px
    .slider-track
      background: #fff
    .slider-handle
      background: $primary-color
  &.price
    float: right
    display: inline-block
    clear: both
    margin: 15px

#total-price
  font-weight: bold

.tab-pane
  padding-top: 12px
