footer
  padding-top: 24px
  background: #F3F3F3
  border-top: 1px solid #ddd
  .legal
    margin-top: 24px
    padding: 16px 0
    background: #fff
    text-align: center
    border-top: 1px solid #ddd
  i.fc-henry
    font-size: 96px
    color: $primary-color
