ul.gallery
  list-style: none
  padding: 0
  +make-row
  li
    +make-sm-column(4)
    +make-md-column(3)
    margin-bottom: 32px
    img
      @extend .img-thumbnail

#photoGallery
  background: #eee
  img
    min-width: 100%

.lSSlideOuter
  margin-bottom: 64px

.lSPager
  a:hover
    border-radius: 0
