.heading
  text-align: center
  margin: 48px auto
  hr
    position: relative
    +size(240px, 1px)
    background: #000
    margin: 16px auto
    &:before
      content: ''
      position: absolute
      left: 50%
      top: -13px
      margin-left: -13px
      +size(26px, 26px)
      background: #fff
      border-radius: 50%
    &:after
      font-family: "icons"
      content: $font-icons-hh
      position: absolute
      left: 50%
      top: -11px
      margin-left: -11px
      +size(22px, 22px)
      background: #fff
      border-radius: 50%
      background: #000
      color: #fff
      font-size: 16px
  p
    text-transform: uppercase
