.cta-holder
  display: inline-block
  position: relative
  background: #fff
  border-radius: 8px
  padding: 8px
  margin: 0 auto
  top: -32px
  .cta-booking
    text-transform: uppercase
    @include button-variant(#fff, $primary-color, $primary-color)
    &:before
      font-family: "icons"
      content: $font-icons-hh
      position: absolute
      left: 50%
      top: -16px
      margin-left: -16px
      +size(32px, 32px)
      background: #fff
      border-radius: 50%
      color: $primary-color
      font-size: 24px

.claim
  text-align: center
  font-size: 1.25em

.cols-3
  @media screen and (min-width: 640px)
    -webkit-column-count: 3
    -moz-column-count: 3
    column-count: 3
  text-align: justify

.carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active
  max-height: 380px
