.navbar
  background: rgba(#F3F3F3,.95)
  .top-nav
    border-bottom: 1px solid #ddd
    ul
      list-style: none
      padding: 0
      margin: 0
      li
        float: left
        margin-right: 8px
        padding: 6px
        a
          color: #aaa
          text-transform: uppercase
          font-size: .9em
          &.active
            font-weight: bold
        &:not(:last-child) a
          border-right: 1px solid #ddd
          padding-right: 16px
  .navbar-nav
    li
      a
        margin: 12px
        border-radius: 3px
        &:hover
          background: $primary-color
          color: #fff
    .cta-booking
      text-transform: uppercase
      @include button-variant(#fff, $primary-color, $primary-color)

  .navbar-brand
    padding:
      top: 4px
      bottom: 0
    height: 74px
    i
      font-size: 64px
      color: $primary-color
