//
// Icon Font: icons
//

@font-face {
  font-family: "icons";
  src: font-url("icons_73794578a29eece015ea4afe12976a19.eot");
  src: font-url("icons_73794578a29eece015ea4afe12976a19.eot?#iefix") format("embedded-opentype"),
       font-url("icons_73794578a29eece015ea4afe12976a19.woff") format("woff"),
       font-url("icons_73794578a29eece015ea4afe12976a19.ttf") format("truetype"),
       font-url("icons_73794578a29eece015ea4afe12976a19.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: font-url("icons_73794578a29eece015ea4afe12976a19.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fc-henry:before,
.fc-hh:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fc-henry:before { content: "\f101"; }
.fc-hh:before { content: "\f102"; }

$font-icons-henry: "\f101";
$font-icons-hh: "\f102";
