= simple_form_for [:admin, @user] do |f|
  = f.error_notification
  
  .row
    .col-sm-6
      .form-input
        = f.input :phone
      .form-input
        = f.select :role, options_for_select([:user, :manager, :admin])

  hr
  .form-actions
    = f.button :submit, class: 'btn btn-success'
