.container
  .row
    .col-sm-3
      = render 'admin/shared/menu'
    .col-sm-9
      h1 Uživatele

      table.table.table-condensed
        thead
          tr
            th Id
            th telefon
            th email
            th role
            th
        tbody
          - @users.each do |user|
            tr
              = render 'user', user: user
