ul.nav.nav-pills.nav-stacked.admin-menu
  li role="presentation"
    = link_to 'Správa rezervací', admin_bookings_path
  li role="presentation"
    = link_to 'Náhled obsazenosti', admin_timeline_path
  - if current_user.try(:admin?)
    li role="presentation"
      = link_to 'Obsah webu', admin_pages_path
    li role="presentation"
      = link_to 'Nastavení pokojů', admin_rooms_path
    li role="presentation"
      = link_to 'Uživatelé', admin_users_path
