li = link_to t('menu.home'), root_path
li = link_to_page('room')
li = link_to_page('restaurant')
li = link_to_page('spa')
li = link_to t('menu.contact'), "/#{I18n.locale}/kontakty"
li = link_to t('menu.booking'), '#', class: 'btn btn-primary btn-lg cta-booking', data: {toggle: 'modal', target: '#bookingStart'}
