nav.navbar.navbar-default.navbar-fixed-top
  .top-nav.hidden-xs.hidden-sm
    .container
      ul.pull-left
        li
          = link_to "/#{I18n.locale}/kontakty"
            = fa_icon 'map-marker', text: 'U Papírny, Praha'
        li
          = link_to 'mailto:info@privat-henry.cz'
            = fa_icon 'envelope', text: 'info@privat-henry.cz'

      ul.pull-right
        - if user_signed_in?
          li = link_to 'můj účet', edit_user_registration_path
          li = link_to 'odhlásit', destroy_user_session_path, :method=>'delete'
          - if current_user.try(:admin?)
            li = link_to 'administrace', admin_pages_path
          - if current_user.try(:manager?)
            li = link_to 'správa', admin_bookings_path

        / li = link_to 'česky', root_path(locale: :cs), class: active_locale(:cs)
        / li = link_to 'english', root_path(locale: :en), class: active_locale(:en)

  .container
    .navbar-header
      button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-collapse"]
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to root_path, class: 'navbar-brand'
        i.fc-henry
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        == render 'layouts/navigation_links'
