doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Hotel Henry'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Hotel Henry'}"
    == stylesheet_link_tag "application", :media => 'all'
    == csrf_meta_tags
  body class=("#{controller.controller_name} #{@body_class}").strip
    header
      == render 'layouts/navigation'
    main[role="main"]
      == render 'layouts/messages'
      == yield
    footer
      .container
        .row
          .col-sm-4
            i.fc-henry
          .col-sm-4
            p
              .glyphicon.glyphicon-pushpin
              strong ADRESA:
              br
              | U PAPÍRNY 11/506 PRAHA 7 – HOLEŠOVICE
            p
              .glyphicon.glyphicon-envelope
              strong E-MAIL:
              br
              = mail_to 'info@privat-henry.cz'
          .col-sm-4
            = raw content_by_key('footer_third')
      .legal
        | &copy; 2015
        | &nbsp;
        = link_to 'E.R.O.C. s.r.o.'
        br
        = link_to 'přihlášení', new_user_session_path, class: 'text-small text-muted'
    
    = render 'bookings/booking_start_modal'
    
    javascript:
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
      Date();a=s.createElement(o),

      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a
      ,m)

      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61966205-3', 'auto');
      ga('send', 'pageview');

    == javascript_include_tag 'application'
